<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JavaWebTP01</display-name>
  <context-param>
    <param-name>name</param-name>
    <param-value>11111</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>123456</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>yifeServlet</display-name>
    <servlet-name>yifeServlet</servlet-name>
    <servlet-class>cn.com.demo.tp04.servlet.YifeServlet</servlet-class>
    <init-param>
      <param-name>userName</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>123456</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>yifeServlet</servlet-name>
    <url-pattern>/abc/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.com.demo.tp04.servlet.LoginServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>cn.com.demo.tp04.servlet.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>cn.com.demo.tp04.servlet.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoLoginPageServlet</display-name>
    <servlet-name>DemoLoginPageServlet</servlet-name>
    <servlet-class>cn.com.demo.tp04.servlet.DemoLoginPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoLoginPageServlet</servlet-name>
    <url-pattern>/demoLoginPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoLoginServlet</display-name>
    <servlet-name>DemoLoginServlet</servlet-name>
    <servlet-class>cn.com.demo.tp04.servlet.DemoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoLoginServlet</servlet-name>
    <url-pattern>/demoLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoWelcomeServlet</display-name>
    <servlet-name>DemoWelcomeServlet</servlet-name>
    <servlet-class>cn.com.demo.tp04.servlet.DemoWelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoWelcomeServlet</servlet-name>
    <url-pattern>/demoWelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoAServlet</display-name>
    <servlet-name>DemoAServlet</servlet-name>
    <servlet-class>cn.com.demo.tp04.servlet.DemoAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoAServlet</servlet-name>
    <url-pattern>/demoAServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoBServlet</display-name>
    <servlet-name>DemoBServlet</servlet-name>
    <servlet-class>cn.com.demo.tp04.servlet.DemoBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoBServlet</servlet-name>
    <url-pattern>/demoBServlet</url-pattern>
  </servlet-mapping>
</web-app>