<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.demo.mybatis.dao.ISpUserDAO">
	<insert id="save" parameterType="cn.com.demo.mybatis.entity.SpUser">
		insert into sp_user
		(ur_user_name,ur_password)
		values(#{urUserName}, #{urPassword})
	</insert>
	
	<select id="findByUserName" parameterType="string" resultType="cn.com.demo.mybatis.entity.SpUser">
	   select ur_id urId,ur_user_name urUserName, ur_password urPassword from sp_user where ur_user_name=#{xx}
	</select>
</mapper>