<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JavaWebTP05</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginPageServlet</display-name>
    <servlet-name>LoginPageServlet</servlet-name>
    <servlet-class>cn.com.demo.tp05.servlet.LoginPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPageServlet</servlet-name>
    <url-pattern>/loginPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.com.demo.tp05.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterPageServlet</display-name>
    <servlet-name>RegisterPageServlet</servlet-name>
    <servlet-class>cn.com.demo.tp05.servlet.RegisterPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPageServlet</servlet-name>
    <url-pattern>/registerPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.com.demo.tp05.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>cn.com.demo.tp05.servlet.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/userListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPageServlet</display-name>
    <servlet-name>EditPageServlet</servlet-name>
    <servlet-class>cn.com.demo.tp05.servlet.EditPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPageServlet</servlet-name>
    <url-pattern>/editPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>cn.com.demo.tp05.servlet.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/editServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteCookieServlet</display-name>
    <servlet-name>WriteCookieServlet</servlet-name>
    <servlet-class>cn.com.demo.tp05.servlet.WriteCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteCookieServlet</servlet-name>
    <url-pattern>/writeCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadCookieServlet</display-name>
    <servlet-name>ReadCookieServlet</servlet-name>
    <servlet-class>cn.com.demo.tp05.servlet.ReadCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookieServlet</servlet-name>
    <url-pattern>/readCookieServlet</url-pattern>
  </servlet-mapping>
</web-app>