<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
   <!-- 目标 -->
   <bean id="userService" class="cn.com.demo.spring.service.impl.UserServiceImpl"></bean>
   <!-- 副方面 -->
   <bean id="logService" class="cn.com.demo.spring.service.impl.LogServiceImpl"></bean>
   
   <aop:config>
     <!-- 切入点 -->
     <aop:pointcut expression="execution(* cn.com.demo.spring.service.impl.UserServiceImpl.*(..))" id="servicePointcut"/>
     <!-- 切面 -->
     <aop:aspect ref="logService">
       <!-- 通知 -->
       <aop:before method="log01" pointcut-ref="servicePointcut"/>
     </aop:aspect>
   </aop:config>
</beans>