<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/mvc 
       http://www.springframework.org/schema/mvc/spring-mvc.xsd 
       http://www.springframework.org/schema/websocket 
       http://www.springframework.org/schema/websocket/spring-websocket.xsd">
	<mvc:annotation-driven
		enable-matrix-variables="true"></mvc:annotation-driven>
	<mvc:default-servlet-handler
		default-servlet-name="default" />
	<context:component-scan
		base-package="cn.com.demo.mvc.controller"></context:component-scan>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/attr/**" />
			<mvc:exclude-mapping path="/*.js" />
			<mvc:exclude-mapping path="/*.css" />
			<mvc:exclude-mapping path="/*.html" />
			<bean class="cn.com.demo.mvc.inter.DemoInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/attr/**" />
			<mvc:exclude-mapping path="/*.js" />
			<mvc:exclude-mapping path="/*.css" />
			<mvc:exclude-mapping path="/*.html" />
			<bean class="cn.com.demo.mvc.inter.DemoInterceptor2"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<bean id="redisHttpSessionConfiguration"
		class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration">
		<property name="maxInactiveIntervalInSeconds" value="1800"></property>
	</bean>
	<bean id="jedisPoolConfig"
		class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="50"></property>
		<property name="maxTotal" value="100"></property>
	</bean>
	<bean id="jedisConnectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		destroy-method="destroy">
		<property name="hostName" value="192.168.94.149" />
		<property name="port" value="6379" />
		<property name="timeout" value="3000" />
		<property name="usePool" value="true" />
		<property name="poolConfig" ref="jedisPoolConfig" />
	</bean>
</beans>